* {
	color: #484848;
	background-color: #EFEFEF;
}
body {
	padding: 0;
	margin: 0;
	background: transparent;
}
html, body {
	width: 340px;
	max-height: 340px;
}
body {
	border: none;
	text-align: center;
	overflow-x: hidden;
}
@media (prefers-color-scheme: light) {
	* {
		color: #484848;
		background-color: #EFEFEF;
	}
}
@media (prefers-color-scheme: dark) {
	* {
		color: #EFEFEF;
		background-color: #484848;
	}
}
#share-directory {
	width: auto;
}
#share-directory-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.buttons-sm button {
	width: 75px;
	height: 75px;
}
.buttons-md button {
	width: 100px;
	height: 100px;
}
.buttons-lg button {
	width: 150px;
	height: 150px;
}
button {
	width: 100px;
	height: 100px;
	margin: 4px;
	border-radius: 3px;
	border: 1px solid transparent;
	cursor: pointer;
	transition: 0s;
	background: transparent;
	padding-top:2px;
}
button:hover, button:hover img {
	background-color: #DDDEDF;
}
button:active, button:focus {
	box-shadow:
		0px 0px 0px 2px #0A84FF,
		0px 0px 0px 5px #B1D6FC;
}
input[type=number] {
	border-radius: 3px;
	border: 1px solid #B5B5B5;
	font-family: inherit;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
button img {
	max-height: 90%;
	max-width: 90%;
	margin: auto;
}
.col {
	text-align: center;
}
.viewmore {
	width: 100%;
	text-align: center;
	text-decoration: none;
	font-size: .8em;
	color: blue;
}

#error_msg {
	text-align: center;
	width: 100%;
	font-size: 14px;
	padding-top: 27px;
	padding-bottom: 27px;
}
