html,
body {
	height: 100%;
	max-height: 1700px;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	font-size: 100%;
}
/* COLOUR PALETTE */
body,
button,
input,
textarea {
	color: #484848;
	background-color: #EFEFEF;
}
input[type=checkbox]:checked {
    color: #EFEFEF;
    background-color:#484848;
}
@media (prefers-color-scheme: light) {
	body,
	button,
	input,
	textarea {
		color: #484848;
		background-color: #EFEFEF;
	}
	button:hover {
		background-color: #C9C9CA;
	}
	button:active {
		background-color: #B1B1B2;
	}
}
@media (prefers-color-scheme: dark) {
	body,
	button,
	input,
	textarea {
		color: #EFEFEF;
		background-color: #484848;
	}
	button {
		background-color: #555555;
	}
	button:hover {
		background-color: #626262; /* Increase L by 5% */
	}
}
/* ROOT FONT STYLES */
* {
	line-height: 1.5;
}
/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1px;
}
h1 {
	margin: 0 0 8px;
	font-size: 24px;
	font-weight: 300;
	text-align: left;
}
h4 {
	margin: 0px;
	font-size: 14px;
	font-weight: 600;
}
h5 {
	font-size: 16px;
	text-align: left;
	font-weight: bold;
}
p {
	font-size: 1.125rem;
	font-weight: 200;
	line-height: 1.8;
}
/* POSITIONING */
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
/* ==== GRID SYSTEM ==== */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.row {
	position: relative;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px solid transparent;
	border-radius: 3px;
	transition: 0.2s;
}
.row [class^="col"] {
	float: left;
	margin: 0.2rem 2%;
	min-height: 0.125rem;
}
.col-1 {
	width: 4.33%;
}
.col-2 {
	width: 12.66%;
}
.col-3 {
	width: 21%;
}
.col-4 {
	width: 29.33%;
}
.col-5 {
	width: 37.66%;
}
.col-6 {
	width: 46%;
}
.col-7 {
	width: 54.33%;
}
.col-8 {
	width: 62.66%;
}
.col-9 {
	width: 71%;
}
.col-10 {
	width: 79.33%;
}
.col-11 {
	width: 87.66%;
}
.col-12 {
	width: 96%;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}
.widths, .heights {
	width: 100px;
}
.positions {
	width: 46px;
}
button {
	transition: 0.1s;
	border: 0px solid transparent;
	min-width: 150px;
	height: 30px;
	text-align: center;
	border-radius: 3px;
}
.move-up, .move-down {
	min-width: 32px;
	height: 32px;
	display: inline-block;
	margin-left: 3px;
}
.move-up::before{
	content: "▲";
}
.move-down::before {
	content: "▼";
}
textarea {
	border-radius: 3px;
	border: 1px solid #B5B5B5;
}
input[type=checkbox] {
	border-color: currentColor;
}
input[type=checkbox]:hover {
	border-color: #858585;
}
input[type=checkbox]:focus {
	border-color: #0A84FF;
}
input[type=url],
input[type=number] {
	border-radius: 3px;
	border: 1px solid #B5B5B5;
	font-family: inherit;
	padding-left: 5px;
	padding-right: 5px;
	min-height: 32px;
	-moz-appearance: textfield;
}
textarea:hover,
input[type=url]:hover,
input[type=number]:hover {
	border: 1px solid #858585;
}
textarea:focus,
input[type=url]:focus,
input[type=number]:focus,
.row_focus {
	box-shadow: 0px 0px 0px 1px #0A84FF, 0px 0px 0px 4px #B1D6FC;
	border: 1px solid #0A84FF;
}
.hr {
	margin-top: 16px;
	padding-top: 16px;
	border-top: 1px solid #D7D7DB;
}
#share-format {
	width: 100%;
}
